<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>文本转化</title>
</head>
<body>
    <div id="app">
        <textarea name="" id="origin" v-model="obj.word" style="width: 200px;height: 120px;"></textarea>
        <textarea name="" id="finish" style="background-color: rgb(241, 240, 240);width: 200px;height: 120px;" v-model="transResult"></textarea>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            obj:{
                word:''
            },
            transResult:'',
            //时延对象
            timer:null
        },
        watch:{
             'obj.word'(newValue){//正常情况下async应该放在该函数前面，但是await只能在有async的函数里面用，所以将async挪至延时函数里
                //使用setTimeout模拟网络延时
                //要使用防抖措施 -> 延时输出，且之前的延时对象取消
                clearTimeout(this.timer)//每当watch执行一次，就取消上次timer的执行
                this.timer = setTimeout(async()=>{
                    const translate = await axios({
                        url:'https://applet-base-api-t.itheima.net/api/translate',
                        params:{words:newValue}
                    })
                    //console.log(translate.data.data)
                    this.transResult = translate.data.data
                },300)
               
            }
        }
    })
</script>
</html>